
  
.response{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}  
  .loginform {
    
    background-color: aliceblue;
    border: 3px solid white;
    padding: 6vh 6vh 6vh 6vh;
    margin-top: 10em;
    margin-left: 47em;
    border-radius: 2vh;

  }
  
  .embody {
    padding: 0.6em;
    width: 20.5em;
    border-radius: 2vh ;
    border-color: #dddfe2;
    background-color: transparent;

  }
  
  .empass {

    padding: 0.6em;
    width: 20.5em;
    margin-top: 1em;
    border-radius: 2vh;
    background-color: transparent;
  }
  
  .btn {
    
    background-color: silver;
    padding: 0.6em;
    margin-top: 1em;
    width: 20.5em;
    border-radius: 2vh;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
  }
  
  .Fat {
    margin-top: 1em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .line {
    -webkit-box-align: center;
            align-items: center;
    border-bottom: 1px solid #dadde1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
    text-align: center;
  }
  
  .btnI {
    background-color: silver;
    padding: 0.6em;
    margin-top: 1em;
    width: 12em;
    border-radius: 2vh;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
  }
  .cen{
      display: flex;
      justify-content: center;

  }